*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navigation Bar*/
header{
  background-color: transparent;
}
li{
  list-style: none;
  font-weight: bold;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.logo{
  height: 60px;
  width: 120px;
}
.navbar{
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #db4726;
  padding: 10px 10px; 
  border: 1px;
  border-color: white;


}
.brand{
 font-size: 6rem;
}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  
  background-color: gray; 
  padding: 10px 10px; 
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in out;
  background-color: white;
}
@media(max-width:768px){
  .hamburger{
      display: block;
  }
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
      position: fixed;
      left: -100%;
      top:70px;
      gap: 0;
      flex-direction: column;
      background-color: gray;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
  .nav-iteams{
      margin: 16px 0;
  }
  .nav-menu.active{
      left:0;
  }
}
/*Navigation Bar End*/
.top {
    position: relative;
  }
  .top img {
    width: 100%;
    height: auto;
  }
  .top1 {
    position: absolute;
    top:  50%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .top1 h1{
      text-transform: uppercase;
      text-decoration: underline white;
      transition: 1s ease-in;
  }
  
  .Centre{
    background-color: rgb(212, 212, 153);
      border-radius: 10px;
      height: 1525px;
      margin: 3em 3em;
      padding: 20px ;
      box-shadow: 2px;
  }
  
  #fighead{
  padding: 20Px auto ;
  font-weight: 900;
  font-style: oblique;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 48px;
  }
  .images{
      
      background-color: gray;
      width: 100%;
      height:auto; 
  
  }
  .images div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 32%;
    background-color:gray;
    border: 2px solid beige;
    box-shadow: 0, 5px , 5px, white;
    float: left;
    align-items: center;
    margin: 5px;
    
    
    
  }
  .images img
  {
    margin-bottom: 5px;
    width: 100%;
    height: 80%;
  }
  
  
  .images  h3 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(253, 251, 251);
    text-decoration: none;
    margin: 5px;
    
    
  }  
  .images div button{
    padding: 8px;
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 15px;
  }
  .images div  :hover{
    cursor: pointer;
    box-shadow: 0, 5px , 5px, black ;
    text-decoration: none;
     color: black; 
   
  }
  .images div button :hover{
    cursor: pointer;
    box-shadow: 0, 5px , 5px, black ;
    text-decoration: none;
    color: black;
   
  }
  #Explore{
    margin: 10px;
    border-style: none;
border-radius: 15px;
    background-color: rgb(12, 0, 0);
    color: white;
    float: right;
    padding: 10px;
    font-size: large;
  }
  #Explore:hover{
    color: black;
    background-color: brown;
    cursor: pointer;
    font-size: large;
  }
  .footer {
    margin-top: 80px;
    width: 100%;
    padding: 50px 0px 50px 0px; 
    background-color: gray;
    color: white;
  }
  
  .footer .row{
    display: flex;
    flex-wrap: wrap;
  }
  .col{
    width: 50%;
    padding: 10px 160px;
  }
  footer div h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 1px;
    position: relative;
  
  }
  .col h3::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  
  }
  .col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
  }
  .col .social-links a:hover{
    color: white;
    background-color: gray;
  }
  
  /*responsive*/
  
  @media(max-width: 767px){
    .col{
        width: 50%;
        margin-bottom: 30px;
        padding: 10px 40px;
    }
    .weekend .row{
        display: inline;
    }
  }
  @media(max-width: 574px){
    .col{
        width: 100%;
        padding: 10px 30px;
    }
    .weekend .row{
        display: inline;
    }
  
  }
  

